################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api1/bin/Debug/net6.0
/Api1/obj
/Api2/bin/Debug/net6.0
/Api2/obj
/Bff/bin/Debug/net6.0
/Bff/obj
/StartTools/bin/Debug/net6.0
/StartTools/obj
/Auto/bin/Debug/net6.0
/Auto/obj
/Auth/bin/Debug/net6.0
/Auth/obj
/.tye
/.git
/.sitecore/package-cache
*.obj
*.pdb
*.rdb
[Bb]in
[Dd]ebug*/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
logs.json
.scindex
/.sitecore/user.json
logs.json
/Tools/logs.json
/node_modules

/frontend/Brommer/rendering/.next
/frontend/Brommer/rendering/.vscode
/frontend/Brommer/rendering/node_modules
/frontend/Project/Brommer/rendering/.next/cache
/frontend/Project/Brommer/rendering/node_modules
/frontend/Project/Brommer/rendering/.next
/backend/Api3/packages
/backend/Api3/.vs/Api3
/packages

otelcontribcol_windows_amd64.exe
consul.exe