################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/
.vs/
/.tye
/.tye/
/.git
*.obj
*.pdb
*.rdb
[Bb]in
[Bb]in/
[Dd]ebug*/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
logs.json
logs.json
/Tools/logs.json
/node_modules
/packages

otelcontribcol_windows_amd64.exe
consul.exe
process_store
vault.exe
tools/otelcol-contrib.exe
